<!-- Crear menú hamburguesa -->
<nav class>
    <div id="envoltura">
        <div>
            <a href="#" id="menu_on">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="nav">
            <ul class="menu-hamburguesa">
                <li><a href="http://localhost:2000/musicalibre/inicio">Inicio</a></li>
                <li><a href="http://localhost:2000/musicalibre/entrar">Entrar</a></li>
                <li><a href="http://localhost:2000/musicalibre/libreria">Librería</a></li>
                <li><a href="http://localhost:2000/musicalibre/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>