<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Autor" content="Yudieskel Roque Cardentey">
    <link rel="stylesheet" href= <%= estilo %>>
    <link rel="shortcut icon" href="../images/icon musica libre.png" type="image/png">
    <title>Música Libre</title>
    <!--Letras en: https://fonts.google.com/-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <!-- font-family: 'Benne', serif; -->
    <!-- Cargamos Jquery para menú hamburguesa -->
    <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous">
        </script>
</head>