<%- include('template/header', {
    estilo: '../css/inicio.css'
    }) %>

    <body id="pagina-inicial">

    <!-- Crear menú principal -->
    <header id="menu-principal">
        <ul class="menu-principal">
            <li class="inicio"><a href="#">Inicio</a></li>
            <li class="entrar"><a href="http://localhost:2000/musicalibre/entrar">Entrar</a></li>
            <li class="libreria"><a href="http://localhost:2000/musicalibre/libreria">Librería</a></li>
            <li class="contacto"><a href="http://localhost:2000/musicalibre/contacto">Contacto</a></li>
        </ul>
    </header>

    <main id="centro-de-pagina">
        <div class="contenedor">

<%- include('template/body') %>
            
            <!-- Centro de página -->
            <h1>Música Libre</h1>
            <h4>Descargas gratis y seguras</h4>
            <a href="http://localhost:2000/musicalibre/libreria">Biblioteca de Audio</a>
        </div>
        <img class="principal" src="../images/audience-Imagen de Pexels en Pixabay-no-copyright-pictures.jpg"
            alt="Personas en un concierto de música electrónica">
    </main>

<%- include('template/footer') %>

</body>
</html>